p{
    font-size: 16px;
    color: black;
    margin:15px;
    padding:10px;
}
img{
    margin: 5px;
    border-radius: 10px;
    width: 120px;
}

.containerTextImg{
    display: flex;
    width: 75vw;
    border: 2px;
    background-color: rgb(152, 188, 255);
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}