.cajaDeTurno{
    width: 900px;
    border: 2px;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    transition: 500ms;
}

.cajaDeTurno:hover{
    transform: scale(1.04)
}

.cajaDeTurno:hover .statusCancelado {
    color: red;
  }
  
.cajaDeTurno:hover .statusActivo {
    color: green;
}