h1{
    font-size: 30px;
    color: white;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 900px;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container button{
    width: 140px;
    height: 70px;
    padding: 5px;
}